<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="rollun\\test\\skeleton\\">
            <directory>./test/App/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
